@{
    ViewData["Title"] = "CRUD ALPHA"; 
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div class="row">

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">AGREGAR PRODUCTO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   
                    <row class="row">
                     
                        <div class="col-8">
                            <div class="row">
                                <div><label>Nombre del producto</label></div>
                                <div> <input id="nombrenewproducto" type="text" placeholder="Nombre" class="form-control"/> </div>
                            </div>
                        </div>
                     
                        <div class="col-4">
                            <div class="row">
                                <div><label>Categoria</label></div>
                                <div>
                                    <select class="custom-select custom-select-md" id="CategoriaProducto">
                                        <option>Seleccionar</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </row>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
                    <button type="button" class="btn btn-success" onclick="Agregar()">AGREGAR</button>
                </div>
            </div>
        </div>
    </div>
</div>

 

<div class="row">

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="exampleModaleditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">EDITAR PRODUCTO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <row class="row">

                        <div style=""><label id="idEditarproducto"></label></div>

                        <div class="col-8">
                            <div class="row">
                                <div><label>Nombre del producto</label></div>
                                <div> <input id="nombrenewproductoeditar" type="text" placeholder="Nombre" class="form-control" /> </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div><label>Categoria</label></div>
                                <div>
                                    <select class="custom-select custom-select-md" id="CategoriaProductoeditar">
                                        <option>Seleccionar</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </row>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
                    <button type="button" class="btn btn-success" onclick="Editar()">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    
@*     <div class="row">
        <div class="col-4">
            <button id="GET"> LLENAR LISTA</button>
        </div>       
    </div> *@
    <div class="row">
        <div class="card">
            <div class="card-header">
                <div id="agregar" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">AGREGAR</div>
            </div>
            <div class="card-body">
                <table id="tblproductosalfa"  class="table table-striped" >
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">EDITAR</th>
                            <th scope="col">ELIMINAR</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $(document).ready(function () {
        getDatos();
        getDatosCategorias();
        }
    );
    
    $(document).on("click", "button[id^='tbnEliminar_']", function () {
        let fila = $(this).closest("tr");

        let id = fila.find("td:eq(0)").text();



        var varliminarProducto = {
            id: id
        };


        $.ajax({
            type: "POST",
            url: '@Url.Action("EliminarProducto")', 
            data: JSON.stringify(varliminarProducto),
            dataType: "Json",
            contentType: "application/json; charset=utf-8",
            success: function (Respomse) {
                if (Respomse != null) {

                    if (Respomse.eliminarProducto > 0) {
                        alert("Se Elimino correctamente");
                        getDatos();
                    }

                }
                else {
                    console.log("Mando: " + Respomse);
                }
            }
        })





    })


    $(document).on("click", "button[id ^= 'tbnEditar_']", function () {
        let fila = $(this).closest("tr");

        let id = fila.find("td:eq(0)").text();
        let producto = fila.find("td:eq(1)").text();
        let marca = fila.find("td:eq(2)").text();


        $('#nombrenewproductoeditar').val(producto);
        $('#idEditarproducto').val(id);

       
        let modal = new bootstrap.Modal(document.getElementById("exampleModaleditar"));
        modal.show();

        //alert("los datos son::" + id +""+ producto +""+ marca);
    });


    function getDatos(){
        $.ajax({
            type:"POST",
            url: '@Url.Action("getProductos")',
            dataType: "Json",
            contentType:"application/json; charset=utf-8",
            success: function (Respomse) {
                if (Respomse != null) {

                    var items = Respomse.lstProduct;

                    $('#tblproductosalfa > tbody').empty();


                    //ciclo para el llenado de la tabla
                    $.each(items, function (index, value) {

                        var idbotonED = "tbnEditar_" + value.id_Producto;
                        var idbotonE = "tbnEliminar_" + value.id_Producto;
                        var botonEditar = "<button type='button' class='btn btn-warning' id = '" + idbotonED + "'>EDITAR</button>";
                        var botonEliminar = "<button type='button' class='btn btn-danger' id = '" + idbotonE + "'>ELIMINAR</button>";

                        $('#tblproductosalfa').append(
                            "<tr>"
                            + "<td>" + value.id_Producto + "</td>"
                            + "<td>" + value.name + "</td>"
                            + "<td>" + value.categoria + "</td>"
                            + "<td> " + botonEditar + "</td>"
                            + "<td>" + botonEliminar + "</td>"
                            + "</tr>"
                        );

                    });
                }
                else {
                    console.log("Mando: " + Respomse);
                }
            }
        })
    }

    function getDatosCategorias() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("getCategorias")',
            dataType: "Json",
            contentType: "application/json; charset=utf-8",
            success: function (Respomse) {
                if (Respomse != null) {

                   

                    if (Respomse.lstCategorias.length > 0) {

                        var selectCategoria = document.getElementById("CategoriaProducto");
                        var selectCategoriaeditar = document.getElementById("CategoriaProductoeditar");

                        Respomse.lstCategorias.forEach(function (nombre, index) {
                            var opcion = document.createElement("option");
                            opcion.value = nombre.name;
                            opcion.text = nombre.name;
                            selectCategoria.appendChild(opcion);

                        });
                        selectCategoria.selectedIndex = 0;


                        Respomse.lstCategorias.forEach(function (nombre, index) {
                            var opcion = document.createElement("option");
                            opcion.value = nombre.name;
                            opcion.text = nombre.name;
                            selectCategoriaeditar.appendChild(opcion);

                        });
                        selectCategoriaeditar.selectedIndex = 0;
                    }

                  
                              
                }
                else {
                    console.log("Mando: " + Respomse);
                }
            }
        })
    }
    function Agregar() {

        const selCategoria = document.getElementById('CategoriaProducto');
        const valorCategoria = selCategoria.value;

        var nuevoproducto = {
            nombre: $('#nombrenewproducto').val(),
            categoria: valorCategoria

        };


        $.ajax({
            type: "POST",
            url: '@Url.Action("AgregarProducto")',
            data: JSON.stringify(nuevoproducto),
            dataType: "Json",
            contentType: "application/json; charset=utf-8",
            success: function (Respomse) {
                if (Respomse != null) {

                    if (Respomse.insertproducto > 0) {
                        alert("Se agrego correctamente");
                        getDatos();


                    }
          
                }
                else {
                    console.log("Mando: " + Respomse);
                }
            }
        })
    }


    function Editar() {

        const selCategoria = document.getElementById('CategoriaProductoeditar');
        const valorCategoria = selCategoria.value;

        if (valorCategoria == "Seleccionar") {
            alert("debes seleccionar una categoria valida");
        
        }else{

            var EditarProducto = {
                id: $('#idEditarproducto').val(),
                nombre: $('#nombrenewproductoeditar').val(),
                categoria: valorCategoria
            };


            $.ajax({
                type: "POST",
                url: '@Url.Action("EditProducto")',
                data: JSON.stringify(EditarProducto),
                dataType: "Json",
                contentType: "application/json; charset=utf-8",
                success: function (Respomse) {
                    if (Respomse != null) {

                        if (Respomse.editarproducto > 0) {
                            alert("Se edito correctamente");

                            getDatos();

                            let modal = new bootstrap.Modal(document.getElementById("exampleModaleditar"));
                            modal.hide();
                        }

                    }
                    else {
                        console.log("Mando: " + Respomse);
                    }
                }
            })
        }



    }



</script>
